
/* potential colors: 

Ash Grey:     #ABC4AB
Lion:         #A39171
Dun:          #DCC9B6
Reseda Green: #727D71
Coffee:       #6D4C3D
*/

body {
    margin: 0;
    padding: 0;
    background-color: #6D4C3D;
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    color: #ABC4AB;
    font-size: 2em;
    position: relative;
    padding-left: 200px;
}

header h1 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 3em;
}

.subtitle-container {
    position: relative;
    display: inline-block;
    padding-right: 190px; 
}

.profile {
    flex-grow: 1;
    text-align: center;
    margin: 0 auto;
    width: 180px; 
    height: 180px; 
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

}

.profile img {
    max-width: 100%;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ABC4AB; 
    opacity: 0.8
}

.navigation {
    position: fixed; /* Fixed position */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 200px; /* Width of the navigation bar */
    height: 100%; /* Full height */
    background-color: #A39171; /* Change color as needed */
    z-index: 1000; /* Ensure it's above other content */
    display: flex;
    flex-direction: column; /* Stack links vertically */
    justify-content: center; /* Center links */
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.navigation li {
    padding: 10px 0; 
    border-bottom: 1px solid #DCC9B6; 
    display: inline-block;
    width: 100%;
}


.navigation li:last-child {
    border-bottom: none;
}


.navigation li a {
    display: block;
    padding: 15px 20px; /* Padding for the links */
    color: #DCC9B6;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.navigation li a:hover {
    color: #ABC4AB;
    background-color: #727D71;
}

.main-content {
    margin-left: 200px; /* Space for the fixed navigation */
    padding: 20px;
    /* You may want to add the following properties to ensure the content area is centered */
    width: calc(100% - 200px); /* Adjust width, accounting for navigation */
    height: 100vh; /* Full height of the viewport */
    overflow-y: auto; /* Enable scroll if content is taller than the screen */
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

footer .social-links a {
    display: inline-block;
    margin: 0 10px; 
}

footer .social-links img {
    width: 50px; 
    height: auto;
}

.footer .social-links {
    justify-content: center; 
    display: flex; 
  }

.footer-text {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
  }

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .navigation {
        position: static; /* Allow it to flow naturally in the document */
        width: 100%; /* Full width */
        display: block;
    }

    .navigation ul {
        padding: 0; 
    }

    .navigation li {
        display: inline-block; 
        width: 100%; 
    }

  header h1 {
  font-size: 2em;
  }
}
