body 
{
  margin: 0;
  padding: 0;
  background-color: #6D4C3D;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 
{
  color: #ABC4AB;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 5em;
}

a
{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #DCC9B6;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

a:hover
{
  font-size: 1.2em;
}

.container
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

/* potential colors: 

Ash Grey:     #ABC4AB
Lion:         #A39171
Dun:          #DCC9B6
Reseda Green: #727D71
Coffee:       #6D4C3D
*/